@import "tailwindcss";

@theme inline {
  --font-sans: "Funnel Sans", sans-serif;
}
/* --- hide scrollbar globally --- */
:root,
html,
body,
#root {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Chrome, Edge, Safari */
:root::-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  width: 0;
  height: 0;
}
