@import "tailwindcss";

@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/funnel-sans.ttf") format("truetype-variations");
  font-weight: 100 800;
  font-style: normal;
}

@theme {
  --font-sans: "Funnel Sans", sans-serif;
  --color-background: #1f232a;
  --color-accent: #60dafb;
}

/* --- hide scrollbar globally --- */
:root,
html,
body,
#root {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Chrome, Edge, Safari */
:root::-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  scroll-behavior: smooth;
}
